*{
    margin: 0;
    padding: 0;
}

.anm{
    padding: 100px;
    margin: 20px;
    animation: color-change 0.5s infinite;
}

@keyframes color-change {
    0%{
        color: black;
        background: red;
    }
    10%{
        color: white;
        background: orange;
    }
    20%{
        color: white;
        background: green;
    }
    50%{
        color: white;
        background: blue;
    }
    70%{
        color: white;
        background: purple;
    }
    100%{
        color: black;
        background: red;
    }
}